:root {
  --primary-color: #1f2937;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
main {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
  color: white;
  text-align: center;
}

.colors {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.color-choice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
  margin: 0.5em 1em;
  padding-bottom: 0.1em;
}

select {
  border: 1.5px solid #d5d4d8;
  padding: calc(0.5em - 1.5px);
  display: block;
}

button {
  background-color: #3d4b60;
  border: none;
  padding: 0.5em;
  transition: none;
  box-sizing: content-box;
}

select:focus,
select:hover,
button:focus,
button:hover {
  cursor: pointer;
  border: 1.5px solid white;
}

select,
button,
option {
  color: white;
  border-radius: 0.25em;
}

select,
option {
  margin: 0;
  color: white;
  background-color: var(--primary-color);
}

.color-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  /* grid-template-rows: 9fr 1fr; */
  grid-auto-flow: dense;
  flex: 1;
}

.color-block {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.color {
  min-height: 100px;
  flex: 1;
}

p {
  background-color: #1e293b;
  color: white;
  text-align: center;
  padding: 0.5em 0;
  font-size: 1.2em;
  cursor: pointer;
}
