body {
  background-color: #1f2937;
  margin: 2rem;
  color: #4adf86;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 3rem;
}

input {
  background-color: #273549;
  color: #10b981;
  border-radius: 0.25rem;
  padding: 10px 17px;
  border: 2px solid white;
  min-width: 30%;
  font-size: 2rem;
}

input::placeholder {
  color: #10b981;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  color: white;
  background-color: #10b981;
  border-radius: 0.25rem;
  padding: 10px 17px;
  border: none;
  letter-spacing: 0.25px;
  margin: 2rem 0;
  min-width: 40%;
  font-size: 2rem;
}

hr {
  background-color: #2f3e53;
  height: 2px;
  border: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 40%;
  height: 15%;
}

.passwords {
  min-width: 10rem;
  min-height: 1.5rem;
  padding: 0.25rem 2rem;
  background-color: #273549;
  align-content: center;
  overflow: auto;
  border-radius: 6px;
  font-size: 4rem;
  margin: 1rem 0;
}

.passwords::before {
  content: "t";
  color: transparent;
  font-size: 4rem;
}

.error {
  margin: 1rem 0;
  padding: 0.5rem 1.5rem;
  display: none;
  color: red;
  background-color: #273549;
  border-radius: 6px;
}

footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 2em;
}
footer > a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  margin: 1rem;
}

footer > a:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: #10b981;
  padding: 1rem 2rem;
  border-radius: 9px;
}
